<html>
  <head>
    <title>Modifier un potin</title>
  </head>
  <body>
    <h1>There is good and bad potins.</h1>
    <p>Es-tu sur de vouloir modifier ce potin? Si oui, remplis le formulaire ci-dessous:</p>
    <form action='/gossips/new/' method='POST'>
      Met ton blaze : <input type='text' name='gossip_author'/><br/>
      Met ton texte : <input type='text' name='gossip_content'/><br/>
      <input type='submit' value="Modifier le potin"/>
      <p>Clique <a href="/">ici</a> si veux te retracter.</p>
    </form>
  </body>
</html>