<html>
  <head>
    <title>Modifier le potin <%= id%></title>
  </head>
  <body>
  <h1>Edit the motherf*cking gossip.</h1>
  <br/> 
  <p>Mise à jour du potin <%= id%> via le formulaire ci-dessous</p> 
  <form action='/gossips/edit/' method='POST'> 
      <% gossips.each do |gossip| %>
          Qui t'a raconté ce potin :  <input type='text' name='gossip_author'/><br/> 
          Ce qu'il t'a raconté : <input type='text' name='gossip_content'/><br/> 
       <% end %>
      <input type='hidden' name='id' value='<%= id %>'/>
      <input type='submit'/> 
  </form> 
  </body>
</html>